In [1]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3}
D = {23:"twothree",'B':43,'C':'CCD'}

In [2]:
print("The type of L is ", type(L))
print("The type of T is ", type(T))
print("The type of S is ", type(S))
print("The type of D is ", type(D))

The type of L is  <class 'list'>
The type of T is  <class 'tuple'>
The type of S is  <class 'set'>
The type of D is  <class 'dict'>

In [3]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
twothree

In [4]:
print(D['B'])

43

In [5]:
S

{1, 3, 4.9, 'name'}

In [6]:
L

[1, 3, 4.9, 'name', 3]

In [7]:
L[1:3]
#1 theke sure 3 er age ses

[3, 4.9]

In [8]:
L[::-1]

[3, 'name', 4.9, 3, 1]

In [9]:
T[:3]

(1, 3, 4.9)

In [10]:
L = L + ["how","are",6,"you"]

In [11]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you']

In [12]:
L.append(6.8)

In [13]:
T2 = ('a','b',45)
T3 = T+T2

In [14]:
S

{1, 3, 4.9, 'name'}

In [15]:
S.add(56)

In [16]:
S

{1, 3, 4.9, 56, 'name'}

In [17]:
S.update({23,"game",1})

In [18]:
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [19]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [20]:
D['newKey'] = "newValue"

In [21]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'newValue'}

In [22]:
D2 = {"y":"YY","z":10}

In [23]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 6.8]

In [24]:
del L[3]

In [25]:
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [26]:
S

{1, 23, 3, 4.9, 56, 'game', 'name'}

In [27]:
S.remove('game')

In [28]:
S

{1, 23, 3, 4.9, 56, 'name'}

In [29]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newKey': 'newValue'}

In [30]:
del D['C']

In [31]:
D

{23: 'twothree', 'B': 43, 'newKey': 'newValue'}

cant add two dictionary by +. you have to use append or update function

In [32]:
D

{23: 'twothree', 'B': 43, 'newKey': 'newValue'}

In [33]:
D2

{'y': 'YY', 'z': 10}

In [34]:
D.update(D2)

In [35]:
D

{23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10}

In [36]:
D2

{'y': 'YY', 'z': 10}

In [37]:
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [38]:
L2 = L

In [39]:
L2

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [40]:
L2[2] = "four point nine"

In [41]:
L2

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [42]:
L3 = L2.copy()

In [43]:
L3

[1, 3, 'four point nine', 3, 'how', 'are', 6, 'you', 6.8]

In [44]:
L2[2] = 4.9

In [45]:
L2

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [46]:
L3 = L[1:5]

In [47]:
L3

[3, 4.9, 3, 'how']

In [48]:
L4 = L3.copy()

In [49]:
L4

[3, 4.9, 3, 'how']

In [50]:
L4.clear()

In [51]:
L4

[]

In [52]:
L5 = L3.copy()

In [53]:
L5

[3, 4.9, 3, 'how']

In [54]:
L5.pop()

'how'

In [55]:
L5.reverse()

In [56]:
L5
#reversed the list

[3, 4.9, 3]

In [57]:
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [58]:
L[::-1]

[6.8, 'you', 6, 'are', 'how', 3, 4.9, 3, 1]

In [60]:
S

{1, 23, 3, 4.9, 56, 'name'}

In [61]:
D.items?

Docstring: D.items() -> a set-like object providing a view on D's items
Type:      builtin_function_or_method

In [62]:
D

{23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10}

In [63]:
D.items()

dict_items([(23, 'twothree'), ('B', 43), ('newKey', 'newValue'), ('y', 'YY'), ('z', 10)])

In [64]:
#dictionary can contain set, tuples, lists
D2 = {'A':L,'B':T,'C':S,'D':D}

In [65]:
D2

{'A': [1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8],
 'B': (1, 3, 4.9, 'name', 3),
 'C': {1, 23, 3, 4.9, 56, 'name'},
 'D': {23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10}}

In [67]:
D2['A']

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [68]:
D2['A'][3]

3

In [71]:
K = D2['D']
K

{23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10}

In [73]:
for x in K:
    print(x,D[x])

23 twothree
B 43
newKey newValue
y YY
z 10

In [74]:
L3 = [L,T,D,23,"game"]

In [75]:
L3

[[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8],
 (1, 3, 4.9, 'name', 3),
 {23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10},
 23,
 'game']

In [77]:
L3[2]

{23: 'twothree', 'B': 43, 'newKey': 'newValue', 'y': 'YY', 'z': 10}

In [79]:
type(L3[2])

dict

In [76]:
type(L3)

list

In [80]:
#making lists of all squares
L3 = [x**2 for x in range(10)]

In [81]:
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [82]:
S3={x**2 for x in range(2,20,3)}
S3
#start x=2
#end x=20
#x =  x+3
#x=2,5,8,11,14,17

{4, 25, 64, 121, 196, 289}

In [83]:
17*17

289

In [84]:
23 in D

True

In [85]:
43 in D

False

"""Let say you are a teacher and you have different student
records containing id of a student and the marks list in each subject
where different students have taken different number of subjects. All
these records are in hard copy. You want to enter all the data in computer
and want to compute the average marks of each student and display"""

In [89]:
def getDataFromUser():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks by comma separted values: ")
        moreStudents = input('Enter "no" to quit insertion: ')
        if studentId in D:
            print(studentId, "is already inserted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

Enter student ID: 12
Enter the marks by comma separted values: 56,45,13
Enter "no" to quit insertion: asdf
Enter student ID: 45
Enter the marks by comma separted values: 44,55,66,77,4
Enter "no" to quit insertion: asdfa
Enter student ID: 12
Enter the marks by comma separted values: 45,45
Enter "no" to quit insertion: asdfa
12 is already insterted
Enter student ID: 23
Enter the marks by comma separted values: 45,45
Enter "no" to quit insertion: no

In [90]:
studentData = getDataFromUser()

12 is already inserted

In [91]:
studentData

{'12': ['56', '45', '13'],
 '45': ['44', '55', '66', '77', '4'],
 '23': ['45', '45']}

In [92]:
def getAvgMarks(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s += int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks

In [95]:
avgM = getAvgMarks(studentData)

In [94]:
avgM

{'12': 38.0, '45': 49.2, '23': 45.0}

In [96]:
for x in avgM:
    print("Student :",x,"got avg Marks as: ",avgM[x])

Student : 12 got avg Marks as:  38.0
Student : 45 got avg Marks as:  49.2
Student : 23 got avg Marks as:  45.0